.container_breadcrumb {
  padding: 15px;
  display: flex;
  justify-content: center;
  font-size: 12px;
}
.container_breadcrumb > div {
  width: 655px;
}

.container_breadcrumb > div > nav {
  text-decoration: none;
}

.container_breadcrumb > div > nav > a {
  color: var(--darkGray);
  border: none;
  text-decoration: none;
}

.container_breadcrumb > div > nav > a.active {
  text-decoration: underline;
}
