.container_breadcrumb {
  display: flex;
  justify-content: center;
  font-size: 14px;
}
.container_breadcrumb > div {
  width: 95%;
  padding: 16px;
}

.container_breadcrumb > div > nav {
  text-decoration: none;
}

.container_breadcrumb > div > nav > a {
  color: var(--grey);
  border: none;
  text-decoration: none;
}

.container_breadcrumb > div > nav > a.active {
  text-decoration: underline;
}
