@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@200;300;400;500&display=swap');

body {
  font-family: 'Noto Sans JP', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--grey);
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary: #fff159;
  --white: #ffff;
  --darkGray: #494848;
  --grey: #eeeeee;
  --blue: #5285fa;
}
