.container_principal_list {
  display: flex;
  justify-content: center;
  padding: 15px;
}
.container_list {
  max-width: 650px;
}
.container_list > .container_item_list {
  display: flex;
  justify-content: center;
}

.container_list > .container_item_list > div {
  border-bottom: 1px solid var(--grey);
  background-color: var(--white);
  margin-bottom: 5px;
  padding: 10px;
}

.container_list > .container_item_list > div > img {
  width: 150px;
  height: 150px;
  padding: 10px;
}
